@page "{vid:int}"
@model VideoLeasingSystem.Pages.Users.VideosDetailsModel
@{
    ViewData["Title"] = "VideosDetails";
}

<div class="vdetails-heading">
    <h2>Details of @Model.VideoData.VideoName :</h2>
</div>

<div class="row main-videos-div">

    <div class="col-3">
        <h5 class="details-label">Actor :</h5>
    </div>
    <div class="col-9">
        <h5 class="details-text">@Model.VideoData.Actor</h5>
    </div>

    <div class="col-3">
        <h5 class="details-label">Director :</h5>
    </div>
    <div class="col-9">
        <h5 class="details-text">@Model.VideoData.Director</h5>
    </div>

    <div class="col-3">
        <h5 class="details-label">Language :</h5>
    </div>
    <div class="col-9">
        <h5 class="details-text">@Model.VideoData.Language</h5>
    </div>

    <div class="col-3">
        <h5 class="details-label">Description :</h5>
    </div>
    <div class="col-9">
        <h5 class="details-text">@Model.VideoData.Description</h5>
    </div>

    <div class="col-3">
        <h5 class="details-label">Number of Copies Available :</h5>
    </div>
    <div class="col-9">
        <h5 class="details-text">@Model.VideoData.NoOfCopies</h5>
    </div>

    <div class="col-3">
        <h5 class="details-label">Lease Amount :</h5>
    </div>
    <div class="col-9">
        <h5 class="details-text">@Model.VideoData.LeaseAmount</h5>
    </div>

</div>

<form method="post">
    <input type="submit" class="addvid-btn" value="Add Video" />
</form>

